/**
 * Style global
 */

html, body
{
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 13px;
}

body, input, textarea, select, button
{
    font-family: Roboto, Sans;
    font-weight: 300;
}

input
{
    padding: 2px;
    border-width: 1px;
    box-sizing: border-box;
}

fieldset
{
    display: inline-block;
    width: 0;
    border: 1px solid grey;
    color: grey;
}

label
{
    color: black;
}

th
{
    font-weight: normal;
    text-align: left;
    color: grey;
}

td
{
    padding: 0;
}

blockquote
{
    margin: 0;
}

a.decore-hover
{
    text-decoration: none;
}

a.decore-hover:hover
{
    text-decoration: underline;
    cursor: pointer;
}

.gone
{
    display: none !important;
}

.null
{
    width: 1px;
}

.relative
{
    position: relative;
}

.h-expand
{
    width: 100%;
}

.v-expand
{
    height: 100%;
}

.scroll
{
    overflow: auto;
}

.noscroll
{
    overflow: hidden;
}

/*
 * Spinner
 */

img#spinner
{
    vertical-align: text-bottom;
}

/*
 * Disposition
 */

table#layout
{
    border-spacing: 0;
}

table#layout > tbody > tr > td
{
    vertical-align: top;
}

td#head
{
    height: 1px;
    border-bottom: 2px solid rgba(0,0,0,.125);
}

td#head,
td#left
{
    padding-left: 5px;
}

header
{
    font-size: 1.75em;
    color: grey;
    white-space: nowrap;
}

/*
 * Filtre
 */

form#filtre
{
    min-width: 100px;
}

form#filtre > table > tbody > tr > td
{
    white-space: nowrap;
    vertical-align: top;
}

/*
 * Références
 */

span.reference
{
    display: inline-block;
    padding: 6px 28px 6px 8px;
    background-color: #4285F4;
    border-radius: 10px;
    color: white;
    cursor: default;
    box-shadow: 1px 1px 2px rgba(0,0,0,.5);
    text-shadow: 1px -1px 1px rgb(127,127,127);
    margin: 8px 8px 0 0;
    position: relative;
}

span.valid,
span.delete
{
    position: absolute;
    right: 6px;
    top:   6px;
    display: inline-block;
    width:  16px;
    height: 16px;
}

span.delete
{
    opacity: .66;
    background-image: url("res/img/close-button.png");
}

span.delete:hover
{
    opacity: 1;
}

/*
 * Message d'erreur
 */

span#reference_error
{
    cursor: default;
    white-space: nowrap;
    color: transparent;
    font-weight: 700;
   -webkit-transition: color .5s ease-in;  
}

span#reference_error.error
{
    color: red;
}

/*
 * Liste des livres
 */

section#suggestion_reference
{
    z-index: 50;
    width: 100%;
    position: absolute;
    background-color: white;
    border: 1px outset rgb(240,240,240);
    box-shadow: 1px 1px 5px rgba(0,0,0,.25);
}

img#suggestion_close
{
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
}

ol#book_list
{
    margin:  0;
    padding: 0;
}

ol#book_list li
{
    cursor: default;
    padding: 3px 6px;
    display: block;
    list-style-type: none;
}

ol#book_list li.focused
{
    background-color: #FFFCB0;
}

/*
 * Barre de redimensionnement horizontale
 */

td#horizontal-resize
{
    width: 1px;
    padding: 0 2px 0 4px;
    cursor: col-resize;
    vertical-align: middle !important;
    border-left: 1px solid rgba(0,0,0,.2);
    box-shadow: -5px 0 10px rgba(0,0,0,.125);
}

td#horizontal-resize > img
{
    display: block;
    margin: auto;
}

/*
 * Résultats de recherche
 */

table#resultats_recherche
{
    border-spacing: 0;
}

table#resultats_recherche > tbody > tr > td
{
    padding: 5px 10px 0 5px;
    vertical-align: top;
}

table#resultats_recherche > tbody > tr > td:nth-of-type(1)
{
    white-space: nowrap;
}

table#resultats_recherche > tbody > tr > td:nth-of-type(2)
{
    font-family: RobotoSlab;
}

table#resultats_recherche > tbody > tr:hover > td
{
    background-color: #FFFCB0;
}

/*
 * Lien vers le contexte d'un verset
 */

table#resultats_recherche > tbody > tr > td:nth-of-type(1) > a
{
    line-height: 1em;
    color: black;
    font-weight: 300;
}

table#resultats_recherche > tbody > tr > td:nth-of-type(1) > a.active,
table#resultats_recherche > tbody > tr > td:nth-of-type(1) > a:active
{
    color: red;
}

/*
 * Section basse de l'écran
 */

td#vertical-resize
{
    height: 1px;
    padding: 4px 0 2px 0;
    cursor: row-resize;
    vertical-align: middle;
    border-top: 1px solid rgba(0,0,0,.2);
    box-shadow: 0 -5px 10px rgba(0,0,0,.125);
}

td#vertical-resize > img
{
    display: block;
    margin: 0 auto;
}

td#bottom
{
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
    height: 1px;
}

section#lecture
{
    padding: 8px;
    font-family: RobotoSlab;
    text-align: justify;
    max-width: 100%;
    /*-webkit-column-width: 333px;*/
}

/*
 * Nom de livre
 */

section#lecture h1
{
    font-weight: 700;
    color: #B9B9B9;
}

/*
 * Numéro de chapitre
 */

section#lecture h2
{
    font-weight: 400;
    color: #7C7C7C;
}

section#lecture h2::before
{
    content: "Chapitre ";
}

/*
 * Numéro du verset
 */

section#lecture span
{
    color: #E75E54;
    font-size: .8em;
    display: inline;
    line-height: 1em;
}

section#lecture blockquote
{
    display: inline;
}

/*
 * Verset clé dans son contexte
 */

section#lecture mark
{
    background-color: #FFF8A2; 
}

/*
 * Onglets du panneau du bas
 */

td#bottom-tabs
{
    height: 1px;
}

td#bottom-tabs > nav
{
    display: block;
    padding: 0 5px 0 5px;
    cursor: default;
    white-space: nowrap;
    border-bottom: 1px solid rgba(0,0,0,.2);
}

td#bottom-tabs > nav > li
{
    display: inline-block;
    list-style-type: none;
    color: black;
    text-shadow: 1px 1px 1px white;
    background-color: #E0E0E0;
    padding: 2px 6px 2px 6px;
    border-left:  3px solid transparent;
}

td#bottom-tabs > nav > li.selected
{
    border-left-color: #4285F4;
}
